<!-- Display Kandydaci radio buttons -->
<h2>Kandydaci:</h2>
<form method="post" action="/Logowanie/Kandydat">
    @foreach (var kandydat in ViewData["Kandydaci"] as List<Kandydat>)
    {
        <label>
            @Html.RadioButton("id", kandydat.Id) @kandydat.Email
        </label>
        <br />
    }
    @Html.AntiForgeryToken()
    <input type="submit" value="Logowanie jako kandydat" />
</form>

<!-- Display Rekruterzy radio buttons -->
<h2>Rekruterzy:</h2>
<form method="post" action="/Logowanie/Rekruter">
    @foreach (var rekruter in ViewData["Rekruterzy"] as List<Rekruter>)
    {
        <label>
            @Html.RadioButton("id", rekruter.Id) @rekruter.Email
        </label>
        <br />
    }
    @Html.AntiForgeryToken()
    <input type="submit" value="Logowanie jako" />
</form>