@model PWRekruter.ViewModels.WiadomoscViewModel

@{
    ViewData["Title"] = "Create";
    @if (ViewBag.UserType == "Rekruter")
    {
        ViewData["Sciezka"] = "Wiadomości / Wiadomość do kandydatów";
    } else
    {
        ViewData["Sciezka"] = "Wiadomości / Wiadomość do rekrutera";
    }

}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (ViewBag.UserType == "Rekruter")
    {
        <div class="receiver-wrapper px-3 py-2">
            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        @{
                            var kierunekSelectListItems = new List<SelectListItem>();
                            @foreach (var kierunek in ViewBag.Kierunki)
                            {
                                kierunekSelectListItems.Add(new SelectListItem() { Text = @kierunek.Nazwa, Value = @kierunek.Skrot });
                            }
                            kierunekSelectListItems.Insert(0, new SelectListItem() { Text = "", Value = "" });
                        }
                        @Html.LabelFor(x=>x.Kierunek, "Kierunek", new {@class="mb-1"})
                        @Html.DropDownListFor(x=>x.Kierunek, kierunekSelectListItems, new {@class="form-control mb-1"})
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label asp-for="Imie" class="control-label mb-1"></label>
                        <input asp-for="Imie" class="form-control" />
                        <span asp-validation-for="Imie" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2" style="padding-top: 2.2rem">
                    <div class="form-check">
                        <input asp-for="Zakwalifikowani" type="checkbox" class="form-check-input" />
                        <label asp-for="Zakwalifikowani" class="form-check-label">Zakwalifikowani</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        @{
                            var wydzialSelectListItems = new List<SelectListItem>();
                            @foreach (var wydzial in ViewBag.Wydzialy)
                            {
                                wydzialSelectListItems.Add(new SelectListItem() { Text = @wydzial.Nazwa, Value = @wydzial.Symbol });
                            }
                            wydzialSelectListItems.Insert(0, new SelectListItem() { Text = "", Value = "" });
                        }
                        @Html.LabelFor(x=>x.Wydzial, "Wydział", new {@class="mb-1"})
                        @Html.DropDownListFor(x=>x.Wydzial, wydzialSelectListItems, new {@class="form-control mb-1"})
                    </div>
                </div>
                <div class="col-7">
                    <div class="form-group">
                        <label asp-for="Nazwisko" class="control-label mb-1"></label>
                        <input asp-for="Nazwisko" class="form-control" type="text" />
                        <span asp-validation-for="Nazwisko" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Maile" class="control-label mb-11"></label>
                        <input asp-for="Maile" class="form-control" />
                        <span asp-validation-for="Maile" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
    }
    <div class="p-3">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Tytul" class="control-label"></label>
                    <input asp-for="Tytul" class="form-control" />
                    <span asp-validation-for="Tytul" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Tresc" class="control-label"></label>
                    <textarea rows="10" asp-for="Tresc" class="form-control"></textarea>
                    <span asp-validation-for="Tresc" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.BrakKandydatow != null)
    {
        <div class="px-3 text-center">
            <span class="text-danger">Brak kandydatów spełniających podane kryteria</span>
        </div>
    }

    <div class="row justify-content-around mt-4">
        <div class="col-md-5">
            <div class="d-flex justify-content-end">
                <a class="btn btn-secondary ml-auto" asp-action="Index">Anuluj</a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="d-flex justify-content-start">
                <div class="form-group">
                    <input type="submit" value="Wyślij" class="btn btn-primary mr-auto" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
