@model PWRekruter.Models.Wiadomosc

@{
    ViewData["Title"] = "Details";
    ViewData["Sciezka"] = "Wiadomości / Detale";
}

<div>
    <h4>Wiadomosc</h4>
    <hr />
    <div class="px-3">
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nadawca)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nadawca.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Data)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Data)
            </dd>
        </dl>
    </div>

    <div class="px-3">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Tytul" class="control-label"></label>
                    <input asp-for="Tytul" class="form-control" readonly value="@Model.Tytul" />
                    <span asp-validation-for="Tytul" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Tresc" class="control-label"></label>
                    <textarea rows="10" asp-for="Tresc" class="form-control" readonly>@Model.Tresc</textarea>
                    <span asp-validation-for="Tresc" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
